<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head th:replace="fragments/layout :: page_head(${pageTitle}, 'tag')"></head>
<body class="sb-nav-fixed">
	<style>
.disabled-link {
	pointer-events: none;
	background-color: #9b9b9b;
	border-color: #9b9b9b;
}
</style>
	<!-- Header fragment -->
	<div th:replace="fragments/layout :: page_header"></div>

	<div id="layoutSidenav">
		<!-- Sidebar fragment -->
		<div th:replace="fragments/side_pane :: page_sidebar"></div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<div class="row mt-4 mb-4">
						<div class="col-sm">
							<h3 class="content-title">[[${pageTitle}]]</h3>
						</div>
						<div class="col-sm-2 text-sm-right align-self-center">
							<a class="btn btn-primary btnActionSmall"
								th:href="@{'/judge/championship/'+${championshipId}+'/category/'+${asanaCategoryId}+'/'+${ageCategoryId}+'/'+${gender}+'/'+${round}}">Back</a>
						</div>
					</div>
					<div th:if="${errorMessage != null}"
						class="alert alert-danger alert-dismissible fade show text-center"
						role="alert">
						[[${errorMessage}]]
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div th:if="${message != null}"
						class="alert alert-success alert-dismissible fade show text-center"
						role="alert">
						[[${message}]]
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div
						class="alert alert-success alert-dismissible fade show text-center"
						role="alert" id="message" hidden>

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<hr>
					<br />

					<div class="row justify-content-center align-items-center h-100">
						<div class="col col-sm-6 col-md-12 col-lg-12 col-xl-12">
							<form id="scoreForm" method="post"
								th:action="@{'/ajudge/artisticJudgeScoreForRound/'+${championshipParticipantTeams.id}+'/round/'+${round}}">
								<input type="hidden" id="championshipParticipantTeamId"
									th:value="*{championshipParticipantTeams.id}" /> <input
									type="hidden" id="participantTeamRefereesId"
									th:value="*{participantTeamReferees.id}" /> <input
									type="hidden" id="championshipId" th:value="*{championshipId}" />
								<input type="hidden" th:value="*{round}" id="round" />
								<section>
									<div class="card mb-4">
										<div class="card-body">
											<div class="table-responsive">
												<table class="table table-striped table-bordered"
													id="teamScoreTable" width="100%" cellspacing="0">
													<thead>
													<tr>
													
													<th colspan=9>Chest Number - [[${championshipParticipantTeams.participantTeam.chestNumber}]] : </th>	
															
														
													 </tr>
													<tr>
														<th>Sl No</th>

														<th>Asana</th>
														<th>Image</th>
														<th>Execution Value(Max Score - 10)</th>
														<th>Formation(Max Score - 10)</th>
														<th>Save</th>
														<th>Score</th>
													</tr>
														

													</thead>

													<tbody>

														<th:block
															th:each="asanaEntry,iterationStatus : ${asanaScoreMap}"
															th:with="participantTeamAsana=${asanaEntry.key},listAsanaQuestions=${asanaEntry
															.value}">
															<tr class="row-height">
																<td>[[${iterationStatus.count}]]</td>
																<td>[[${participantTeamAsana.asanaCode}]]-[[${participantTeamAsana.asana.name}]]</td>
																<td><img id="thumbnail" alt="Img"
																	class="img-fluid yogaImage"
																	th:src="@{${participantTeamAsana.asana.ImagePath}}" />
																</td>


																<th:block
																	th:each="questionScore,iterationStatus1:${listAsanaQuestions}">
																	<td th:if="${questionScore.score != null and questionScore.status == true }"><input
																		type="number" step="0.25" max="10" min="0"
																		th:id="'agscore'+${questionScore.id}"
																		th:class="'agscore'+${iterationStatus.count}"
																		th:entityName="${questionScore.id}"
																		th:value="*{questionScore.score}"
																		onchange="validate(this);" readonly />
																	<td th:if="${(questionScore.score == null and questionScore.status == null) or (questionScore.score != null and questionScore.status == null)}"><input
																		type="number" step="0.25" max="10" min="0"
																		th:id="'score'+${questionScore.id}"
																		th:class="'agscore'+${iterationStatus.count}"
																		th:value="*{questionScore.score}"
																		th:entityName="${questionScore.id}"
																		onchange="validate(this);" /></td>
																</th:block>
																<td><input type="checkbox" value="Save" name="save"
																	th:if="${listAsanaQuestions.get(0).totalScore != null}"
																	th:class="'saveCheckBox'+${iterationStatus.count}"
																	th:id="'saveCheckBox'+${participantTeamAsana.id}"
																	checked disabled /> <input type="checkbox"
																	value="Save" name="save"
																	th:if="${listAsanaQuestions.get(0).totalScore == null}"
																	th:class="'saveCheckBox'+${iterationStatus.count}"
																	th:id="'saveCheckBox'+${participantTeamAsana.id}"
																	th:onclick="saveAGScore(this,[[${iterationStatus.count}]]);" /></td>

																<td><input type="number" step="0.25" max="10"
																	min="0"
																	th:value="*{listAsanaQuestions.get(0).totalScore}"
																	th:id="'totalAGRowScore'+${iterationStatus.count}"
																	th:class="scores" readonly />
													</tbody>
												</table>
											</div>
											<div class="card mb-4">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-striped table-bordered"
															id="QuestionTable" width="100%" cellspacing="0">
															<thead>
																<th>Question Id</th>
																<th>Question</th>
															</thead>

															<tbody>
																
																		<th:block
																			th:each="questionScore,iterationStatus2:${listAsanaEvaluationQuestions}">
																			<tr>
																				<td>[[${iterationStatus2.count}]]</td>
																				<td>[[${questionScore.question}]]</td>

																			</tr>
																		</th:block>

															</tbody>

														</table>
													</div>

												</div>
											</div>

										</div>
									</div>
								</section>
								<div th:replace="fragments/layout :: page_footer"></div>
								
								</form>
						</div>
					</div>

					
				</div>
				</main>
		</div>
	</div>
	
	<!-- Footer fragment -->
<!--  	<div th:replace="fragments/layout :: page_footer"></div> -->
	

	<div class="modal fade" id="editRefereeScoreModal">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content"></div>
		</div>
	</div>



	<!-- Modal fragment to display warnings -->
	<div th:replace="fragments/modal_fragments :: warning_modal"></div>
	
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
<!--  	<script type="text/javascript" th:src="@{/js/validate.js}"></script> -->

	<script type="text/javascript">
		var base_url = "[[@{/}]]";
		//	var reg = /^(?:\d*\.\d{1,2}|\d+)$/;
		var reg = /^(?!0\d)\d*(?:[.](?:25|5|50|75|0|00))?$/;

		function validate(input) {

			//var reg1 = /^((10)(\.[0-0]{0,2})?$|([0-9])(\.[0-9]{1,2})?$)/;
			var id = input.getAttribute('id');
			let questionId = input.getAttribute('entityName');
			//	var maximumValue = $("#maxValue" + questionId).html();
			var maximumValue = 10;
			var score = $('#' + id).val();
			var rightScore = false;
			
			
			if(score=="" || score==null){
				rightScore=false;
				console.log("invalid");
			}else
			if (Number(score) > Number(maximumValue)) {
				console.log("invalid");
				rightScore=false;
			} else 	if (!reg.exec(score)) {
				console.log("invalid");
				rightScore=false;

			} else {
				console.log("valid");
				input.style.backgroundColor = 'white';
				rightScore = true;

			}
			if (!rightScore) {
				input.style.backgroundColor = 'red';
				input.focus();
				showErrorModal("Enter valid Score");
			//	alert("Enter valid Score");
			} else if (rightScore) {
				saveScore(input);
			}
		}

		function saveScore(input) {

			var asanaId = input.getAttribute('entityId');
			//Question id 
			var id = input.id;
			var questionId = input.getAttribute('entityName');
			var score = $("#score" + questionId).val();
			//var maximumValue = $("#maxValue" + questionId).html();
			var maximumValue = 10;
			var postUrl = base_url + "judge/traditionalJudgeScore/"
					+ questionId + "/saveScore";

	/*		var rightScore = false;
			
			
			if(score=="" || score==null){
				rightScore=false;
				console.log("invalid");
			}else
			if (Number(score) > Number(maximumValue)) {
				console.log("invalid");
				rightScore=false;
			} else 	if (!reg.exec(score)) {
				console.log("invalid");
				rightScore=false;

			} else {
				console.log("valid");
				input.style.backgroundColor = 'white';
				rightScore = true;

			}
			if (!rightScore) {
				input.style.backgroundColor = 'red';
				input.focus();
				alert("Enter valid Score");
			} else if (rightScore) {
				saveScore(input);
			}*/

			params = {
				score : score,
			};

			$('#' + id).prop('checked', false);
			//if (rightScore) {
				$.post(postUrl, params, function(response) {
					console.log("Score saved successfully");
			//		$('#message').removeAttr('hidden', true);
			//		$('#message').text("Score Saved Successfully");

				}).fail(function() {
					showErrorModal("Could not connect to the server");
				});
		//	} else {
		//		alert("Score is not saved.. Please enter valid scores & save");

		//	}
		}

		function calculateTotalScore(id, questionId, asanaId) {
			console.log("enterd calculateTotalScore");
			var asanaScores = $('.scores' + asanaId);
			var totalScore = 0;
			var baseValue = $('#baseValue' + asanaId).html();
			asanaScores.each(function(i) {
				totalScore = parseFloat(
						Number(totalScore) + Number($(this).val())).toFixed(2);

			});
			console.log(totalScore);
			totalScore = parseFloat(baseValue * totalScore).toFixed(2);

			var round = $('#round').val();
			var championshipParticipantTeamsId = $(
					'#championshipParticipantTeamsId').val();
			var refereeId = $('#participantTeamRefereesId').val();
			params = {
				totalScore : totalScore
			};

			var url = base_url + "judge/traditionalJudgeTotalScoreForAsana/"
					+ questionId + "/saveScore";
			$.post(url, params, function(response) {
				console.log("Total Score saved successfully");
			//	$('#message').removeAttr('hidden', true);
			//	$('#message').text("Total Score Saved Successfully");
				$('#totalScore' + asanaId).val(totalScore);
				location.reload();

			}).fail(function() {
				showErrorModal("Could not connect to the server");
			});

		}

		function saveAGScore(input, iterationCount) {
			var id = input.id;
			var elements = $('.agscore' + iterationCount);
			var flag = true;
			var maxValue = 10;
			elements.each(function(i) {
				flagScoreStatus = scoreValidate(this.id,$(this).val(), maxValue);
				if (!flagScoreStatus) {

					return false;
				}
			});

			if (flagScoreStatus) {

				var totalAGRowScore = 0;
				var count = 0;
				var questionList = [];
				elements.each(function(i) {
					count++;
					questionId = $(this).attr('entityName');
					questionList.push(questionId);
					totalAGRowScore = parseFloat(
							Number(totalAGRowScore) + Number($(this).val()))
							.toFixed(2);
				});
				console.log(questionList);
				var totalAGRowScoreAvg = parseFloat(totalAGRowScore / count)
						.toFixed(2);
				params = {
					totalScore : totalAGRowScoreAvg,
					questionList : questionList

				};

				var url = base_url
						+ "judge/ArtisticGroupTraditionalJudgeTotalScoreForAsana/saveTotalScore";

				$.post(
						url,
						params,
						function(response) {
							console.log("Total Score saved successfully");
							$('#message').removeAttr('hidden', true);
							$('#message')
									.text("Total Score Saved Successfully");
							$('#totalAGRowScore' + iterationCount).val(
									totalAGRowScoreAvg);
							location.reload();

						}).fail(function() {
					showErrorModal("Could not connect to the server");
				});

			} else {
				$('#' + id).prop('checked', false);
				showErrorModal("Score is not saved.. Please enter valid scores & save");
			//	alert("Score is not saved.. Please enter valid scores & save");
			}
		}
		
		
		function scoreValidate(id,score, maxValue) {
			
			console.log("score"+score);
			
			if (Number(score) > Number(maxValue)) {
				document.getElementById(id).style.backgroundColor = 'red';
				document.getElementById(id).focus();
				flagValidScore = false;
				showErrorModal("Enter valid Score");
			//	alert("Enter valid Score");
				return false;
			} else if (!reg.exec(score)) {
				document.getElementById(id).style.backgroundColor = 'red';
				document.getElementById(id).focus();
				flagValidScore = false;
				showErrorModal("Enter valid Score");
			//	alert("Enter valid Score");
				return false;

			} else if (score == "" || score == null) {
				document.getElementById(id).style.backgroundColor = 'red';
				document.getElementById(id).focus();
				flagValidScore = false;
				showErrorModal("Enter valid Score");
			//	alert("Enter valid Score");
				return false;

			} else {
				document.getElementById(id).style.backgroundColor = 'white';
			
				return true;
			}

		}
	</script>

</body>
</html>