<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head th:replace="fragments/layout :: page_head(${pageTitle}, 'tag')"></head>
<body class="sb-nav-fixed">
	<!-- Header fragment -->
	<div th:replace="fragments/layout :: page_header"></div>

	<div id="layoutSidenav">
		<!-- Sidebar fragment -->
		<div th:replace="fragments/side_pane :: page_sidebar"></div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<div class="row mt-4 mb-4">
						<div class="col-sm">
							<h2 class="content-title">[[${pageTitle}]]</h2>
						</div>
						<div class="col-sm-2 text-sm-right align-self-center">
							<a id="btnImport" class="btn btn-primary btnActionMedium"
								th:href="@{'/referee/manage-referee-panels/new'}">Add Panel</a>
						</div>
					</div>

					<div th:if="${message != null}"
						class="alert alert-success alert-dismissible fade show text-center" role="alert">[[${message}]]  <button type="button" class="close" data-dismiss="alert" aria-label="Close">     <span aria-hidden="true">&times;</span>   </button></div>
						
					<div th:if="${message1 != null}"
						class="alert alert-danger alert-dismissible fade show text-center" role="alert">[[${message1}]]  <button type="button" class="close" data-dismiss="alert" aria-label="Close">     <span aria-hidden="true">&times;</span>   </button></div>	

					<div class="card mb-4">
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered"
									id="panelTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>SL NO</th>
											<th>Name</th>
											<th>Event</th>
											<th>Asana Category</th>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="panel,iterationStatus : ${listChampionshipRefereePanels}">
											<td th:text="${iterationStatus.count}"></td>
											<td>[[${panel.name}]]</td>
											<td>[[${panel.championship.name}]]</td>
											<td>[[${panel.asanaCategory.name}]]</td>
											<td class="text-center"><a
												th:href="@{'/referee/manage-referee-panels/edit/' + ${panel.id}}"
												class="btn btn-primary btnOperate link-edit"><i
													class="fas fa-edit"></i> Edit</a></td>
											</td>
											<td class="text-center"><a
												class="btn btn-primary btnOperate link-delete"
												th:href="@{'/referee/manage-referee-panels/delete/' + ${panel.id}}"
												th:entityId="${panel.id}"
												th:title="'Delete this Panel ' + ${panel.name}">
													<i class="fas fa-trash"></i> Delete
											</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!-- Footer fragment -->
			<div th:replace="fragments/layout :: page_footer"></div>
		</div>
	</div>

	<!-- Modal fragment to display warnings -->
	<div th:replace="fragments/modal_fragments :: confirm_modal"></div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		var base_url = "[[@{/}]]";

		$(document).ready(function() {
			
			// on click delete show modal
			
			$("#panelTable").on("click", ".link-delete", function(e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'Event Referee Panels');
			});
			// Call the dataTables jQuery plugin
			// Code to disable sorting for selected columns
			$('#panelTable').DataTable({
				"pageLength" : 10,
				'columns' : [ {
					data : 'id'
				}, // index - 0
				{
					data : 'name'
				}, // index - 1
				{
					data : 'event'
				}, // index - 2
				{
					data : 'asanaCategory'
				}, // index - 3
				{
					data : 'edit'
				}, // index - 4
				{
					data : 'delete'
				} // index - 5
				],
				'columnDefs' : [ {
					'targets' : [ 4,5 ], // column index (start from 0)
					'orderable' : false, // set orderable false for selected columns
				}]
			});

		
		});

		function showDeleteConfirmModal(link, entityName) {
			entityId = link.attr("entityId");
			entityTitle = link.attr("title");
			$("#yesButton").attr("href", link.attr("href"));
			$("#confirmText").text(
					"Are you sure you want to  " 
							+ entityTitle + "?");
			$("#confirmModal").modal();
		}
	</script>
</body>
</html>