<div class="modal-header modal-bg-header">
	<h5 class="modal-title">Add Category</h5>
	<button type="button" class="btn-close" data-dismiss="modal">&times;</button>
</div>
<div class="modal-body">
	<form th:action="@{'/eventmanager/register-championship/event-category/assign/'+${eventRegistration.id}}" th:object="${eventCategory}"
		method="post" >
		<div class="modal-body m-3">
			<div class="row justify-content-center align-items-center h-100">
				<input type="hidden" th:field="*{id}"/> 
				<div class="form-group row">
					
					<div class="col-md-4 mb-3">
								<label class="form-label" for="asanaCategory">Asana
									Category <span class="form-star">*</span>
								</label> <select class="form-control" id="asanaCategory" th:field="*{asanaCategory}" required>
									<option value="">-- Select --</option>
									<th:block th:each="asanaCategory : ${listAsanaCategory}">
										<option th:value="${asanaCategory.id}">[[${asanaCategory.name}]]</option>
									</th:block>
								</select> <span id="span-error-asanacategory" class="span-error">
								</span>
							</div>
							<div class="col-md-4 mb-3">
								<label class="form-label" for="category">Category <span
										class="form-star">*</span></label> <select class="form-control" id="category"
									th:field="*{ageCategory}" required>
									<option value="">-- Select --</option>
									<th:block th:each="category : ${listAgeCategory}">
										<option th:value="${category.id}">[[${category.title}]]</option>
									</th:block>
								</select> <span id="span-error-category" class="span-error"> </span>
							</div>

							<div class="col-md-4 mb-3">
								<label class="form-label" for="gender">Gender <span class="form-star">*</span></label>
								<select class="form-control" id="gender" th:field="*{gender}" required>
									<option value="">-- Select --</option>
									<option th:each="gender : ${T(com.swayaan.nysf.entity.GenderEnum).values()}"
										th:value="${gender}" th:text="${gender}"></option>
								</select><span id="span-error-gender" class="span-error"> </span>
							</div>

							<div class="col-md-4 mb-3">
								<label class="form-label" for="round">Number of Rounds <span class="form-star">*</span>
								</label> <input type="number" class="form-control" id="noOfRounds"
									oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
									maxlength="2" th:field="*{noOfRounds}" required> <span id="span-error-noOfRounds"
									class="span-error">
								</span>
							</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<input type="submit" value="Save" class="btn btn-secondary" />
			<button type="button" class="btn btn-secondary btn-modal-cancel" data-dismiss="modal">Cancel</button>
		</div>

	</form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>

<script type="text/javascript">
	
	function validateCategoryForm(form) {

			if (document.getElementById('asanaCategory').value == "") {
				var flagAsanaCategoryName = false;
				$("#span-error-asanacategory")
					.text("Select the Asana Category");

			} else {
				flagAsanaCategoryName = true;
				$("#span-error-asanacategory").text("");
			}


			if (document.getElementById('category').value == "") {
				var flagAgeCategoryName = false;
				$("#span-error-category")
					.text("Select the Age Category");
			} else {
				flagAgeCategoryName = true;
				$("#span-error-category").text("");
			}

			if (document.getElementById('gender').value == "") {
				var flagGenderName = false;
				$("#span-error-gender")
					.text("Select the gender");
			} else {
				flagGenderName = true;
				$("#span-error-gender").text("");
			}

			if (document.getElementById('noOfRounds').value == "") {
				var flagRounds = false;
				$("#span-error-noOfRounds")
					.text("Enter the No. of rounds");
			} else {
				flagRounds = true;
				$("#span-error-noOfRounds").text("");
			}

			return (flagAsanaCategoryName && flagAgeCategoryName
				&& flagGenderName && flagRounds);
		}
</script>