<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head th:replace="fragments/layout :: page_head(${pageTitle}, 'tag')">
	<meta charset="UTF-8">
</head>

<body class="sb-nav-fixed">
	<!-- Header fragment -->
	<div th:replace="fragments/layout :: page_header"></div>

	<div id="layoutSidenav">
		<!-- Sidebar fragment -->
		<div th:replace="fragments/side_pane :: page_sidebar"></div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">


					<div class="row mt-4 mb-4">
						<div class="col-sm">
							<h3 class="content-title">[[${pageTitle}]] </h3>
						</div>
					</div>
					<div th:if="${errorMessage != null}"
						class="alert alert-danger alert-dismissible fade show text-center" role="alert">
						[[${errorMessage}]]
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center"
						role="alert">
						[[${message}]]
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div id="message" hidden class="alert alert-success alert-dismissible fade show text-center"
						role="alert"></div>
					<hr>
					<br />

					<div class="row justify-content-center align-items-center h-100">
						<div class="col col-sm-6 col-md-10 col-lg-10 col-xl-9">
							<form id="addchampionshipForm" th:action="@{/eventmanager/register-championship/save}"
								name="addEventForm" th:object="${eventRegistration}" method="post"
								onsubmit="return validate(this);">
								<input type="hidden" th:field="*{id}" />
								<div class="form-group row">
									<div class="col-md-6 mb-3">
										<label class="form-label" for="name">Championship Name
											<span class="form-star">*</span>
										</label> <input type="text" class="form-control" id="championship-name"
											th:field="*{name}" maxlength="40"> <span id="span-error-name"
											class="span-error"></span>
									</div>
									<div class="col-md-6 mb-3">
										<label class="form-label" for="championship-level">Championship
											Level <span class="form-star">*</span>
										</label> <select class="form-control" id="championship-level"
											th:field="*{level}">
											<option value="">-- Select --</option>
											<th:block th:each="level : ${listChampionshipLevels}">
												<option th:value="${level.id}">[[${level.title}]]</option>
											</th:block>
										</select> <span id="span-error-level" class="span-error"> </span>
									</div>

									<div class="col-md-6 mb-3">
										<label class="form-label" for="date">championship
											Start date <span class="form-star">*</span>
										</label>
										<!--  <input type="date" class="form-control date" th:field="*{startDate}" min="1997-01-01"> -->
										<input type="date" class="form-control" id="startDate" th:field="*{startDate}">
										<span id="span-error-startDate" class="span-error"> </span>
									</div>

									<div class="col-md-6 mb-3">
										<label class="form-label" for="date">championship End
											date <span class="form-star">*</span>
										</label>
										<!--  <input type="date" class="form-control date" th:field="*{endDate}" min="1997-01-01"> -->
										<input type="date" class="form-control" id="endDate" th:field="*{endDate}">
										<span id="span-error-endDate" class="span-error"></span>
									</div>

									<div class="col-md-6 mb-3">
										<label class="form-label" for="name">Location <span
												class="form-star">*</span></label> <input type="text"  placeholder="Please enter full address (district and state name)"
											class="form-control" id="location" th:field="*{location}" maxlength="85">
										<span id="span-error-location" class="span-error"></span>
										<h6 Style=" font-size: 12px;" class="text-warning">Note:Please enter full address(district and state name)</h6 >
										 
									</div>
								</div>

								<div class="form-group text-center mt-4 mb-5">
									<input type="submit" value="Save" class="btn btn-primary" /> <a
										th:href="@{/eventmanager/dashboard}" type="button"
										class="btn btn-primary-outline" id="buttonCancel">Cancel</a>
								</div>
								<!-- Add categories for championship -->
								<th:block th:if="${eventRegistration.id != null}">
									<!--  List of categories -->
									<div class="form-group row mt-5">
										<div class="col-md-12">
											<div class="row mb-4">
												<div class="col-6">
													<h5>Select categories</h5>
												</div>
												<div class="col-6 text-right">
													<a id="btnAddCategories" class="btn btn-primary link-add-category" data-toggle="modal"
													data-target="#addCategoryModal"
													th:href="@{'/eventmanager/manage-event-category/'+${eventRegistration.id}+'/new'}">Add
														categories</a>
														
												</div>
											</div>

											<div class="card mb-4">
												<div class="card-body">
													<div class="table-responsive">
														<table class="table table-striped table-bordered"
															id="selectedCategoriesTable" width="100%" cellspacing="0">
															<thead>
																<tr>
																	<th>Sl.No</th>
																	<th>Asana Category</th>
																	<th>Age Category</th>
																	<th>Gender</th>
																	<th>No. of Rounds</th>
																	<th></th>
																	<th></th>
																</tr>
															</thead>
															<tbody>
																<th:block
																	th:if="${#lists.isEmpty(eventRegistration.eventCategory)}">
																	<tr>
																		<td colspan="7" class="text-center">No
																			categories
																			choosen yet.</td>
																	</tr>
																</th:block>

																<th:block
																	th:if="${not #lists.isEmpty(eventRegistration.eventCategory)}">
																	<tr
																		th:each="evtCategory,iterationStatus : ${eventRegistration.eventCategory}">
																		<td th:text="${iterationStatus.count}"></td>
																		<td>[[${evtCategory.asanaCategory.name}]]</td>
																		<td>[[${evtCategory.ageCategory.title}]]</td>
																		<td>[[${evtCategory.gender}]]</td>
																		<td>[[${evtCategory.noOfRounds}]]</td>
																		<td class="text-center"><a
																				th:href="@{'/eventmanager/register-championship/'+${eventRegistration.id}+'/event-category/edit/' +${evtCategory.id}}"
																				class="btn btn-primary btnOperate link-edit link-add-category"
																				data-toggle="modal"
																				data-target="#addCategoryModal"><i
																					class="fas fa-edit"></i> Edit</a>
																		</td>
																		<td class="text-center"><a
																				class="btn btn-primary btnOperate link-delete"
																				th:href="@{'/eventmanager/register-championship/'+${eventRegistration.id}+'/championship-category/delete/' +${evtCategory.id}}"
																				th:entityId="${evtCategory.id}"
																				th:title="'Remove Category ' + ${evtCategory.id}">
																				<i class="fas fa-trash"></i>
																			</a></td>
																	</tr>
																</th:block>
															</tbody>
														</table>
													</div>
												</div>
											</div>

										</div>
									</div>
								</th:block>

							</form>
							<th:block th:if="${eventRegistration.id !=null}">
								<div class="form-group text-center mt-4 mb-5">
									<form th:action="@{'/eventmanager/championship/getEventDetails'}" method="post">
										<input type="hidden" th:value="${eventRegistration.id}" th:name="event">
										<button type="submit" class="btn btn-primary"
											id="btn-register">Register</button>
										<span class="span-error"> Please click after completion
											of selecting categories</span>
									</form>

								</div>
							</th:block>
						</div>
					</div>


				</div>
			</main>
			<!-- Footer fragment -->
			<div th:replace="fragments/layout :: page_footer"></div>
		</div>
	</div>

	<!-- Add Categories Modal -->
	<div class="modal fade" id="addCategoriesModalDialog">
		<div class="modal-dialog modal-dialog-centered modal-xl">
			<div class="modal-content">
				<form id="assignCategoriesForm"
					th:action="@{/eventmanager/register-championship/event-category/assign/}+${eventRegistration.id}"
					method="post" th:object="${eventCategory}" onsubmit="return validateCategoryForm(this);">
					<div class="modal-header modal-bg-header ">
						<h5 class="modal-title">Add Categories</h5>
						<button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<div class="col-md-4 mb-3">
								<label class="form-label" for="asanaCategory">Asana
									Category <span class="form-star">*</span>
								</label> <select class="form-control" id="asanaCategory" th:field="*{asanaCategory}">
									<option value="">-- Select --</option>
									<th:block th:each="asanaCategory : ${listAsanaCategory}">
										<option th:value="${asanaCategory.id}">[[${asanaCategory.name}]]</option>
									</th:block>
								</select> <span id="span-error-asanacategory" class="span-error">
								</span>
							</div>

							<div class="col-md-3 mb-3">
								<label class="form-label" for="category">Category <span
										class="form-star">*</span></label> <select class="form-control" id="category"
									th:field="*{ageCategory}">
									<option value="">-- Select --</option>
									<th:block th:each="category : ${listAgeCategory}">
										<option th:value="${category.id}">[[${category.title}]]</option>
									</th:block>
								</select> <span id="span-error-category" class="span-error"> </span>
							</div>

							<div class="col-md-4 mb-3">
								<label class="form-label" for="gender">Gender <span class="form-star">*</span></label>
								<select class="form-control" id="gender" th:field="*{gender}">
									<option value="">-- Select --</option>
									<option th:each="gender : ${T(com.swayaan.nysf.entity.GenderEnum).values()}"
										th:value="${gender}" th:text="${gender}"></option>
								</select><span id="span-error-gender" class="span-error"> </span>
							</div>

							<div class="col-md-4 mb-3">
								<label class="form-label" for="round">Number of Rounds <span class="form-star">*</span>
								</label> <input type="number" class="form-control" id="noOfRounds"
									th:field="*{noOfRounds}" min="1"> <span id="span-error-noOfRounds"
									class="span-error"> </span>
							</div>

							<!-- 		<div class="col-md-3 mb-3">
								<label class="form-label" for="participants">Number of
									Participants <span class="form-star">*</span>
								</label> <input type="number" class="form-control" id="noOfParticipants"
									th:field="*{noOfParticipants}" min="1"> <span
									id="span-error-noOfParticipants" class="span-error"> </span>
							</div>

						</div> -->
						</div>
						<div class="modal-footer">
							<!--  <button type="button" class="btn btn-primary">Save</button>  -->
							<button type="submit" class="btn btn-secondary">Save</button>
							<button type="button" class="btn btn-secondary btn-modal-cancel"
								data-dismiss="modal">Cancel</button>
						</div>
					</div>

					<!-- modal body ends -->
				</form>
			</div>
		</div>
	</div>

	<!-- Modal fragment to display warnings -->
	<div th:replace="fragments/modal_fragments :: warning_modal"></div>

	<!--  View modal -->
	<div class="modal fade" id="addCategoryModal" data-backdrop="static">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content"></div>
		</div>
	</div>



	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>

	<th:block th:if="${eventRegistration.id == null}">
		<script type="text/javascript" th:src="@{/../../js/scripts.js}"></script>
	</th:block>

	<th:block th:if="${eventRegistration.id != null}">
		<script type="text/javascript" th:src="@{/../../../js/scripts.js}"></script>
	</th:block>
	<script th:src="@{/js/scripts.js}"></script>

	<script type="text/javascript">
		$(document).ready(
			function () {
				var pathname = window.location.pathname;
				var parentpath = pathname.substring(0, 24);
				var activeLink = document.querySelector('a.nav-link[href="'
					+ parentpath + '"]');
				activeLink.classList.add("active");

			});

		function validateCategoryForm(form) {
			if (document.getElementById('asanaCategory').value == "") {
				var flagAsanaCategoryName = false;
				$("#span-error-asanacategory")
					.text("Select the Asana Category");

			} else {
				flagAsanaCategoryName = true;
				$("#span-error-asanacategory").text("");
			}

			if (document.getElementById('category').value == "") {
				var flagAgeCategoryName = false;
				$("#span-error-category").text("Select the Age Category");
			} else {
				flagAgeCategoryName = true;
				$("#span-error-category").text("");
			}

			if (document.getElementById('gender').value == "") {
				var flagGenderName = false;
				$("#span-error-gender").text("Select the gender");
			} else {
				flagGenderName = true;
				$("#span-error-gender").text("");
			}

			if (document.getElementById('noOfRounds').value == "") {
				var flagRounds = false;
				$("#span-error-noOfRounds").text("Enter the No. of rounds");
			} else {
				flagRounds = true;
				$("#span-error-noOfRounds").text("");
			}

			/*	if (document.getElementById('noOfParticipants').value == "") {
					var flagParticipants = false;
					$("#span-error-noOfParticipants").text(
							"Enter the No. of Participants");
				} else {
					flagParticipants = true;
					$("#span-error-noOfParticipants").text("");
				}*/

			return (flagAsanaCategoryName && flagGenderName && flagRounds)

		}

		function validate(form) {
			let championshipName = document.getElementById('championship-name').value;
			let championshipLevel = document
				.getElementById('championship-level').value;
			let startDate = document.getElementById('startDate').value;
			let endDate = document.getElementById('endDate').value;
			let location = document.getElementById('location').value;
			var now = new Date().toISOString().slice(0, 10);
			var dt1 = Date.parse(now), dt2 = Date.parse(startDate), dt3 = Date
				.parse(endDate);

			if (championshipName == "") {
				//var flagchampionshipName = false;
				$("#span-error-name")
					.text("Please enter the championship Name");
				return false;

			} else {
				//flagchampionshipName = true;
				$("#span-error-name").text("");

			}

			if (championshipLevel == "") {
				//var flagchampionshipLevel = false;
				$("#span-error-level").text(
					"Please select the championship type");
				return false;

			} else {
				//flagchampionshipType = true;
				$("#span-error-level").text("");

			}

			if ((document.getElementById('startDate').value) == "") {
				//var flagStartDate = false;
				$("#span-error-startDate").text("Please enter the start date");
				return false;

			} else {
				//flagStartDate = true;
				if (dt2 > dt1) {
					//var flagStartDateCheck = true;
					$("#span-error-startDate").text("");

				} else {
					//	flagStartDateCheck = false;
					$("#span-error-startDate").text(
						"Date must not be in the past");
					return false;

				}
				$("#span-error-startDate").text("");

			}

			if (endDate == "") {
				//var flagEndDate = false;
				$("#span-error-endDate").text("Please enter the end date");
				return false;

			} else {
				//flagEndDate = true;
				if (dt3 > dt1 && dt3 > dt2) {
					//var flagEndDateCheck = true;
					$("#span-error-endDate").text("");

				} else {
					//flagEndDateCheck = false;
					$("#span-error-endDate").text(
						"Date must not be in the past");
					return false;

				}
				$("#span-error-endDate").text("");

			}

			if (location == "") {
				//var flagLocation = false;
				$("#span-error-location").text("Please enter the location");
				return false;

			} else {
				//flagLocation = true;
				$("#span-error-location").text("");
			}

			if (document.getElementById('category').value == "") {
				var flagAgeCategoryName = false;
				$("#span-error-category").text("Select the Age Category");
			} else {
				flagAgeCategoryName = true;
				$("#span-error-category").text("");
			}

			return true;

		}

		/*$(document).ready(function() {
			$("#btnAddCategories").on("click", function(e) {
				$("#addCategoriesModalDialog").modal();
			});

		});*/

		$('#btn-register')
			.on(
				'click',
				function (e) {
					$('#message').removeAttr('hidden');
					$('#message')
						.text(
							'Championship Registered Successfully. Please wait for admin approval.');

				});

		$(".link-add-category").on(
			"click",
			function (e) {
				e.preventDefault();
				linkaddCategoryURL = $(this).attr("href");
				$('#addCategoryModal').modal("show").find(
					".modal-content").load(linkaddCategoryURL);
			});
	</script>

</body>

</html>