<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<body>
	<!--  Modal to display Warning messages -->
	<div th:fragment="warning_modal" class="modal fade text-center"
		id="modalDialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header modal-bg-header">
					<h4 class="modal-title" id="modalTitle"><i class="fas fa-exclamation-triangle text-warning" style=" font-size: 40px;"></i></h4>
					<button type="button" class="btn-close" data-dismiss="modal">
						&times;</button>
				</div>
				<div class="modal-body">
					<p id="modalBody"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary-outline"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!--  Modal to display Delete Confirm messages -->
	<div th:fragment="confirm_modal" class="modal fade text-center"
		id="confirmModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header modal-bg-header">
					<h4 class="modal-title">Delete Confirmation</h4>
					<button type="button" class="btn-close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				<div class="modal-footer">
					<a class="btn btn-secondary" href="" id="yesButton">Yes</a>
					<button type="button" class="btn btn-secondary-outline"
						data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	<!--  Modal to display Confirm messages -->
	<div th:fragment="confirmation_modal" class="modal fade text-center"
		id="confirmationModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header modal-bg-header">
					<h4 class="modal-title">Confirmation</h4>
					<button type="button" class="btn-close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="confirmEmailText"></span>
				</div>
				<div class="modal-footer">
					<a class="btn btn-secondary" href="" id="yesEmailButton">Yes</a>
					<button type="button" class="btn btn-secondary-outline"
						data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	<!--  Modal to display Confirm navigation history messages -->
	<div th:fragment="NavigationConfirmationModal"
		class="modal fade text-center" id="NavigationConfirmationModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header modal-bg-header">
					<h4 class="modal-title">History Confirmation</h4>
					<button type="button" class="btn-close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="navigationConfirmText"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						id="yesNavigationButton">Yes</button>
					<button type="button" class="btn btn-secondary-outline"
						data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	<!--  Modal to display Save Confirm messages -->
	<div th:fragment="save_confirm_modal" class="modal fade text-center"
		id="saveConfirmModal">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header modal-bg-header">
					<h4 class="modal-title">Save Confirmation</h4>
					<button type="button" class="btn-close hideModal" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="confirmText"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" id="saveYesButton">Yes</button>
					<button type="button" class="btn btn-secondary-outline hideModal"
						data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
	
	<!--  Modal to display email duplication error messages -->
	<div th:fragment="email_warning_modal" class="modal fade text-center"
		id="modalDialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header modal-bg-header">
					<h4 class="modal-title" id="modalTitle">Email Duplication</h4>
					<button type="button" class="btn-close" data-dismiss="modal">
						&times;</button>
				</div>
				<div class="modal-body">
					<div id="modalBody"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary-outline"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<!--  Modal to preview scoreboard images -->
	<div th:fragment="preview_modal" class="modal fade" id="previewModal">
		<div class="modal-dialog modal-dialog-centered modal-lg ">
			<div class="modal-content previewModalContent">
				<div class="modal-header modal-bg-header">
					<h4 class="modal-title">Preview</h4>
					<button type="button" class="btn-close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body ">
					<div class="container-fluid pb-2">
						<div class="row mt-2">
							<div class="col-sm-5 thumbnail1Div">
							<th:block
									th:unless="${#strings.contains(championship.ImagePath1,'null')}">
									<img id="thumbnail1Preview" alt="Image1" class="img-fluid"
										style="width: 80px; height: 50px;"
										th:src="@{${championship.ImagePath1}}" />
								</th:block>
								
								<th:block
									th:unless="${#strings.contains(championship.ImagePath3,'null')}">
									<img id="thumbnail3Preview" alt="Image3" class="img-fluid"
										style="width: 80px; height: 50px;"
										th:src="@{${championship.ImagePath3}}" />
								</th:block>
							</div>

							<div class="col-sm-2 ">
								<h5 class="text-center pt-6" style="padding-top: 50px;">YOGASANA
									SCORES</h5>
							</div>
							<div class="col-sm-5 text-sm-right thumbnail2Div ">

								<th:block
									th:unless="${#strings.contains(championship.ImagePath4,'null')}">
									<img id="thumbnail4Preview" alt="Image4" class="img-fluid"
										style="width: 80px; height: 50px;"
										th:src="@{${championship.ImagePath4}}" />
								</th:block>

								<th:block
									th:unless="${#strings.contains(championship.ImagePath2,'null')}">
									<img id="thumbnail2Preview" alt="Image4" class="img-fluid"
										style="width: 80px; height: 50px;"
										th:src="@{${championship.ImagePath2}}" />
								</th:block>

							</div>
						</div>
					</div>
					<div id="layoutSidenav_content">
						<div class="container-fluid">
							<table class="table table-bordered" id="previewTable"
								width="100%" cellspacing="0"
								style="font-size: 12px; overflow-x: auto;">
								<thead>
									<tr>
										<th colspan="7">Round No - Asana Category - Age Category
											- Gender</th>
									</tr>
									<tr>
										<th class="col-md-1">Rank</th>
										<th class="col-md-2">Team</th>
										<th class="col-md-2">Team Id</th>
										<th class="col-md-1">Chest Number</th>
										<th class="col-md-2">Participant</th>
										<th class="col-md-1">Status</th>
										<th class="col-md-1">Total Score</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th class="col-md-1">xyz</th>
										<th class="col-md-2">xyz</th>
										<th class="col-md-2">xyz</th>
										<th class="col-md-1">xyz</th>
										<th class="col-md-2">xyz</th>
										<th class="col-md-1">xyz</th>
										<th class="col-md-1">xyz</th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					</th:block>
				</div>
				<div>
					<!-- Footer fragment -->
					<footer class="py-4 mt-auto">
						<div class="container-fluid">
							<div
								class="d-flex align-items-center justify-content-between small">
								<div class="text-black">
									Copyright &copy; National Yogasana Sports Federation 2022 -
									Powered by <a href="http://www.swayaan.com">Swayaan.com</a>
								</div>
								<div>
									<a href="#">Privacy Policy</a> &middot; <a href="#">Terms
										&amp; Conditions</a>
								</div>
							</div>
						</div>
					</footer>
				</div>
			</div>
		</div>
	</div>



	<!-- Pagination fragments -->
	<div th:fragment="admin_pagination1" th:remove="tag">
		<div class="text-center m-1 " th:if="${totalItems > 0}">
			<span>Showing # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No data found</span>
		</div>
		<div th:if="${totalPages > 1}">
			<nav>
				<ul class="pagination justify-content-center">
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} }">
							First</a>
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link remove-hover"
						th:href="@{${moduleURL} + '/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''}}">
							Previous</a>
					<li
						th:class="${currentPage != i ? 'page-item': 'page-item active'}"
						th:each="i : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}"><a
						class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''}}">
							[[${i}]] </a></li>
					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''}}">
							Next</a>
					</li>
					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} }">
							Last</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div th:fragment="admin_pagination2" th:remove="tag">
		<div class="text-center m-1 " th:if="${totalItems > 0}">
			<span>Showing # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No data found</span>
		</div>
		<div th:if="${totalPages > 1}">
			<nav>
				<ul class="pagination justify-content-center">
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''}}">
							First</a>
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link remove-hover"
						th:href="@{${moduleURL} + '/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''}}">
							Previous</a>
					<li
						th:class="${currentPage != i ? 'page-item': 'page-item active'}"
						th:each="i : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}"><a
						class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''}}">
							[[${i}]] </a></li>
					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''}}">
							Next</a>
					</li>
					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''}}">
							Last</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div th:fragment="admin_pagination4" th:remove="tag">
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No data found</span>
		</div>
		<div th:if="${totalPages > 1}">
			<nav>
				<ul class="pagination justify-content-center">
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}+ ${keyword4 != null ? '&keyword4=' + keyword4 : ''}}">
							First</a>
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link remove-hover"
						th:href="@{${moduleURL} + '/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}+${keyword4 != null ? '&keyword4=' + keyword4 : ''}}">
							Previous</a>
					<li
						th:class="${currentPage != i ? 'page-item': 'page-item active'}"
						th:each="i : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}"><a
						class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}+${keyword4 != null ? '&keyword4=' + keyword4 : ''}}">
							[[${i}]] </a></li>
					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}+${keyword4 != null ? '&keyword4=' + keyword4 : ''}}">
							Next</a>
					</li>
					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link remove-hover"
						th:href="@{${moduleURL} + '/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}+ ${keyword4 != null ? '&keyword4=' + keyword4 : ''}}">
							Last</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div th:fragment="admin_pagination3" th:remove="tag">
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No data found</span>
		</div>
		<div th:if="${totalPages > 1}">
			<nav>
				<ul class="pagination justify-content-center">
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}}">
							First</a>
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}}">
							Previous</a>
					<li
						th:class="${currentPage != i ? 'page-item': 'page-item active'}"
						th:each="i : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}"><a
						class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}}">
							[[${i}]] </a></li>
					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}}">
							Next</a>
					</li>
					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}}">
							Last</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div th:fragment="admin_pagination5" th:remove="tag">
		<div class="text-center m-1" th:if="${totalItems > 0}">
			<span>Showing # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}">
			<span>No data found</span>
		</div>
		<div th:if="${totalPages > 1}">
			<nav>
				<ul class="pagination justify-content-center">
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''} + ${keyword4 != null ? '&keyword4=' + keyword4 : ''}+ ${keyword5 != null ? '&keyword5=' + keyword5 : ''}}">
							First</a>
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}+ ${keyword4 != null ? '&keyword4=' + keyword4 : ''}+ ${keyword5 != null ? '&keyword5=' + keyword5 : ''}}">
							Previous</a>
					<li
						th:class="${currentPage != i ? 'page-item': 'page-item active'}"
						th:each="i : ${#numbers.sequence(currentPage > 2 ? currentPage - 2 : 1, currentPage + 2 < totalPages ? currentPage + 2 : totalPages)}"><a
						class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}+ ${keyword4 != null ? '&keyword4=' + keyword4 : ''}+ ${keyword5 != null ? '&keyword5=' + keyword5 : ''}}">
							[[${i}]] </a></li>
					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}+ ${keyword4 != null ? '&keyword4=' + keyword4 : ''}+ ${keyword5 != null ? '&keyword5=' + keyword5 : ''}}">
							Next</a>
					</li>
					<li
						th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
						<a class="page-link"
						th:href="@{${moduleURL} + '/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword1 != null ? '&keyword1=' + keyword1 : ''} + ${keyword2 != null ? '&keyword2=' + keyword2 : ''} + ${keyword3 != null ? '&keyword3=' + keyword3 : ''}+ ${keyword4 != null ? '&keyword4=' + keyword4 : ''}+ ${keyword5 != null ? '&keyword5=' + keyword5 : ''}}">
							Last</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>