<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head th:replace="fragments/layout :: page_head('Password Succeeded!!', 'none')">


</head>

<body>
	<div id="layoutAuthentication">
		<div th:replace="fragments/layout :: page_header_outside_application"></div>
		<div id="layoutAuthentication_content">
			<main>

				<div class="row justify-content-center">
					<div class="col-lg-7">

						<div>&nbsp;</div>
						<div>&nbsp;</div>
						<div>&nbsp;</div>




						</br>

						<div th:if="${title != null}" class="text-center">
							<i class="fas fa-check-circle " style="font-size:80px;color:rgb(0, 128, 192)"> </i>
							</br></br>
							<h1>[[${title}]]</h1>
						</div>
						</br>
						<div th:if="${message != null}" class="text-center">
							</br>
							<h3>[[${message}]] <button type="button" class="close" data-dismiss="alert"
									aria-label="Close"> </button></h3>
						</div>

						<div th:if="${errorMessage != null}" class="text-center">
							<i class="fas fa-times-circle" style="font-size:80px;color:crimson"></i>
							</br></br>
							<h3>[[${errorMessage}]] <button type="button" class="close" data-dismiss="alert"
									aria-label="Close"> </button></h3>
						</div>
						</br>
						<div class="text-center">
							<a class="btn btn-primary" th:href="@{/login}"> <i class="fas fa-sign-in-alt fa-lg "> </i>
								Login Now </a>
						</div>

					</div>
				</div>

			</main>
		</div>

		<div id="layoutAuthentication_footer">
			<!-- Footer fragment -->
			<div th:replace="fragments/layout :: page_footer"></div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>


</body>

</html>