<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0,shrink-to-fit=no">
<meta charset="utf-8" />

<title>Login - National Yogasana Sports Federation</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

	<div id="layoutAuthentication">
	<div th:replace="fragments/layout :: page_header_outside_application"></div>
		<div id="layoutAuthentication_content">
			<main>
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-5">
							<div class="card shadow-lg border-0 rounded-lg mt-5">
								<div class="card-header dark-card-header text-center">
									<!-- <h3 class="text-center font-weight-light my-4">Login</h3>  -->
									<img th:src="@{/images/Yogasana-Logo.png}" width="50%" alt="">
								</div>
								<div class="card-body">
									<form method="post">

										<div class="form-group text-center">Welcome to NYSF
											Registration Portal</div>
										<div class="form-group">Register as,</div>

										<div class="form-group text-center">
										
											<a class="btn btn-primary btnWidth" th:href="@{/manage-registration/register/participant}">
												Participant </a>
										
										</div>
										<div class="form-group text-center">
											<a class="btn btn-primary btnWidth" th:href="@{/manage-registration/register/judge}">
												Judge </a>
											
										</div>
										<div class="form-group text-center">
										<a class="btn btn-primary btnWidth" th:href="@{/manage-registration/register/eventmanager}">
												Event Manager </a>
										<!-- 	<a class="btn btn-primary btnWidth" th:href="@{/eventmanager-registration/register/eventmanager}">
												Event Manager </a>  -->
                 
										</div>

									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<div id="layoutAuthentication_footer">
			<!-- Footer fragment -->
			<div th:replace="fragments/layout :: page_footer_outside_application"></div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
		<script type="text/javascript">
			var base_url = "[[@{/}]]";
			// Add active state to header nav links
   			var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
       		 $("a.nav-link").each(function() {
           	 	if (this.href === path) {
               		 $(this).addClass("active");
           		 }
      	  	});
			
	</script>
</body>
</html>
