<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head th:replace="fragments/layout :: page_head(${pageTitle}, 'tag')"></head>
<body class="sb-nav-fixed">
	<style>
.disabled-link {
	pointer-events: none;
	background-color: #9b9b9b;
	border-color: #9b9b9b;
}
</style>
	<!-- Header fragment -->
	<div th:replace="fragments/layout :: page_header"></div>

	<div id="layoutSidenav">
		<!-- Sidebar fragment -->
		<div th:replace="fragments/side_pane :: page_sidebar"></div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<div class="row mt-4 mb-4">
						<div class="col-sm">
							<h3 class="content-title">[[${pageTitle}]]</h3>
						</div>
						<div class="col-sm-2 text-sm-right align-self-center">
							<a class="btn btn-primary btnActionSmall"
								th:href="@{'/judge/championship/'+${championshipId}+'/category/'+${asanaCategoryId}+'/'+${ageCategoryId}+'/'+${gender}+'/'+${round}}">Back</a>
						</div>
					</div>
					<div th:if="${errorMessage != null}"
						class="alert alert-danger alert-dismissible fade show text-center"
						role="alert">
						[[${errorMessage}]]
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div th:if="${message != null}"
						class="alert alert-success alert-dismissible fade show text-center"
						role="alert">
						[[${message}]]
						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div
						class="alert alert-success alert-dismissible fade show text-center"
						role="alert" id="message" hidden>

						<button type="button" class="close" data-dismiss="alert"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<hr>
					<br />

					<div class="row justify-content-center align-items-center h-100">
						<div class="col col-sm-6 col-md-12 col-lg-12 col-xl-12">
							<section>
								<form id="evaluatorScoreForm" method="post"
									th:action="@{'/judge/evaluator/'+ ${participantTeamReferees.id}+'/team/'+${championshipParticipantTeams.id}+ '/saveTeamScores'}">
									<input type="hidden" id="participantTeamRefereesId"
										th:value="*{participantTeamReferees.id}" /> <input
										type="hidden" id="championshipParticipantTeamId"
										th:value="*{championshipParticipantTeams.id}" /> <input
										type="hidden" id="championshipParticipantTeamId"
										th:value="*{championshipParticipantTeams.id}" /> <input
										type="hidden" th:value="*{round}" id="round" /> <input
										type="hidden" id="participantTeamRefereesId"
										th:value="*{participantTeamReferees.id}" /> <input
										type="hidden" id="asanaCategory"
										th:value="*{asanaCategory.id}" />
									<div class="card mb-4">
										<div class="card-body">
											<div class="table-responsive">

												<table class="table table-striped table-bordered"
													id="teamScoreTable" width="100%" cellspacing="0">
													<thead>
														<tr th:if="${asanaCategory.id==3}">
															<th colspan="2">Chest Number -
																[[${championshipParticipantTeams.participantTeam.chestNumber}]]
															</th>
															<th colspan="3">Participant Name:
																[[${participantTeamParticipant.participant.getFullName()}]]</th>
															<th colspan="2">Participant Number:
																[[${participantTeamParticipant.sequenceNumber}]]</th>
														</tr>

														<tr th:if="${asanaCategory.id!=3}">

															<th colspan=7>Chest Number -
																[[${championshipParticipantTeams.participantTeam.chestNumber}]]
																:</th>
														</tr>
														<tr>
															<th>SL No</th>
															<th>Asana</th>
															<th>Image</th>
															<th>Sequence of Asana</th>
															<th>Verification of Asana</th>
															<th>Penalty(Not Covering All Categories)</th>
															<th>Save</th>
														</tr>
													</thead>

													<tbody>



														<th:block
															th:if="${not #maps.isEmpty(participantAsanaScoreMap)}">

															<th:block
																th:each="participantTeamParticipantEntry,iterationStatus :${participantAsanaScoreMap}"
																th:with="participantTeamParticipant=${participantTeamParticipantEntry.key},participantTeamParticipantAsanaMap=${participantTeamParticipantEntry.value}">
																<th:block th:if="${iterationStatus.count==1}"
																	th:each="participantTeamParticipantAsanaEntry,iterationStatus1:${participantTeamParticipantAsanaMap}"
																	th:with="participantTeamParticipantAsana=${participantTeamParticipantAsanaEntry.key},listParticipantTeamParticipantAsanaScore=${participantTeamParticipantAsanaEntry.value}">
																	<tr>
																		<td>[[${iterationStatus1.count}]]</td>
																		<td>[[${participantTeamParticipantAsana.asanaCode}]]-[[${participantTeamParticipantAsana.asana.name}]]</td>
																		<td><img id="thumbnail" alt="Img"
																			class="img-fluid yogaImage"
																			th:src="@{${participantTeamParticipantAsana.asana.ImagePath}}" />
																		</td>
																		<th:block
																			th:each="participantTeamParticipantAsanaScoreEntry:${listParticipantTeamParticipantAsanaScore}">
																			<td
																				th:if="${participantTeamParticipantAsanaScoreEntry.asPerSequence==T(com.swayaan.nysf.entity.SequenceEnum).PERFORMEDINSEQUENCE}"><input
																				type="checkbox" value="Save" name="save" checked
																				th:entityId="${participantTeamParticipantAsanaScoreEntry.id}"
																				th:id="'sequencePenalty'+${participantTeamParticipantAsanaScoreEntry.id}"
																				disabled /></td>
																			<td
																				th:if="${participantTeamParticipantAsanaScoreEntry.asPerSequence==T(com.swayaan.nysf.entity.SequenceEnum).DIDNOTPERFORMINSEQUENCE}"><input
																				type="checkbox" value="Save" name="save" disabled
																				th:entityId="${participantTeamParticipantAsanaScoreEntry.id}"
																				th:id="'sequencePenalty'+${participantTeamParticipantAsanaScoreEntry.id}" /></td>
																			<td
																				th:if="${participantTeamParticipantAsanaScoreEntry.asPerSequence==null}"><input
																				th:entityId="${participantTeamParticipantAsanaScoreEntry.id}"
																				th:id="'sequencePenalty'+${participantTeamParticipantAsanaScoreEntry.id}"
																				type="checkbox" value="Save" name="save"
																				onclick="saveAsPerSequence(this);" /></td>

																			<td
																				th:if="${participantTeamParticipantAsanaScoreEntry.isPerformed==T(com.swayaan.nysf.entity.AsanaPerformEnum).PERFORMED}"><input
																				type="checkbox" value="Save" name="save" checked
																				th:entityId="${participantTeamParticipantAsanaScoreEntry.id}"
																				th:id="'notPerformedPenalty'+${participantTeamParticipantAsanaScoreEntry.id}"
																				disabled /></td>
																			<td
																				th:if="${participantTeamParticipantAsanaScoreEntry.isPerformed==T(com.swayaan.nysf.entity.AsanaPerformEnum).NOTPERFORMED}"><input
																				type="checkbox" value="Save" name="save"
																				th:entityId="${participantTeamParticipantAsanaScoreEntry.id}"
																				th:id="'notPerformedPenalty'+${participantTeamParticipantAsanaScoreEntry.id}"
																				disabled /></td>
																			<td
																				th:if="${participantTeamParticipantAsanaScoreEntry.isPerformed==null}"><input
																				type="checkbox" value="Save" name="save"
																				onclick="saveIsPerformed(this);"
																				th:entityId="${participantTeamParticipantAsanaScoreEntry.id}"
																				th:id="'notPerformedPenalty'+${participantTeamParticipantAsanaScoreEntry.id}" /></td>
																			<th:block th:if="${iterationStatus1.count==1}"
																				th:with="commonQuestion=${commonQuestion}">
																				<td th:if="${commonQuestion.penaltyScore!=null}"
																					style="vertical-align: bottom; text-align: center;"
																					th:rowspan="${participantTeamParticipantAsanaMap.size}">
																					<input type="number" min="0"
																					class="small-txtbox cls-penaltyscore"
																					th:id="'commonQuestion'+${commonQuestion.id}"
																					th:entityId="${commonQuestion.id}"
																					th:value="*{commonQuestion.penaltyScore}" disabled />
																				</td>

																				<td th:if="${commonQuestion.penaltyScore==null}"
																					style="vertical-align: bottom; text-align: center;"
																					th:rowspan="${participantTeamParticipantAsanaMap.size}">
																					<input type="number" min="0"
																					class="small-txtbox cls-penaltyscore"
																					th:id="'commonQuestion'+${commonQuestion.id}"
																					th:entityId="${commonQuestion.id}"
																					th:value="*{commonQuestion.penaltyScore}"
																					oninput="saveScore(this);" />
																				</td>


																				<td
																					style="vertical-align: bottom; text-align: center;"
																					th:rowspan="${participantTeamParticipantAsanaMap.size}"
																					th:if="${participantTeamParticipantAsanaScoreEntry.status==true}">
																					<input type="submit" value="Save"
																					class="btn btn-primary" disabled
																					th:entityId="${participantTeamParticipant.id}"
																					th:id="'saveScore'+${participantTeamParticipant.id}" />
																				</td>

																				<td
																					style="vertical-align: bottom; text-align: center;"
																					th:rowspan="${participantTeamParticipantAsanaMap.size}"
																					th:if="${participantTeamParticipantAsanaScoreEntry.status==null}">
																					<input type="submit" value="Save"
																					class="btn btn-primary link-save"
																					th:entityId="${participantTeamParticipant.id}"
																					th:id="'saveScore'+${participantTeamParticipant.id}" />
																				</td>

																			</th:block>
																	</tr>
																</th:block>
															</th:block>
														</th:block>
													</tbody>
												</table>


											</div>

										</div>
									</div>
								</form>

							</section>
							<div th:replace="fragments/layout :: page_footer"></div>


						</div>
					</div>


				</div>
			</main>
		</div>
	</div>

	<!-- Footer fragment -->
	<!--  	<div th:replace="fragments/layout :: page_footer"></div> -->

	<div class="modal fade" id="editRefereeScoreModal">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content"></div>
		</div>
	</div>

	<div th:replace="fragments/modal_fragments :: save_confirm_modal"></div>
	<!-- Modal fragment to display warnings -->
	<div th:replace="fragments/modal_fragments :: warning_modal"></div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script type="text/javascript" th:src="@{/js/scripts.js}"></script>
	<script type="text/javascript" th:src="@{/js/validate.js}"></script>

	<script type="text/javascript">
		var base_url = "[[@{/}]]";
		var reg = /^(?!0\d)\d*(?:[.](?:25|5|50|75|0|00))?$/;

		$(document).ready(function() {

			// on click delete show modal
			$(".link-save").on("click", function(e) {
				e.preventDefault();
//				var result = validatePenaltyScoreOnSave();	
				//	if (result) {	
				showSaveConfirmModal($(this));	
				//	}	
			});

		});

		function saveAsPerSequence(input) {

			var id = input.getAttribute('id');
			let entityId = input.getAttribute('entityId');
			var asPerSequence = null;

			if ($('#' + id).is(":checked")) {
				//performed in sequence
				asPerSequence = "PERFORMEDINSEQUENCE";
			} else {
				//Not performed in sequence
				asPerSequence = "DIDNOTPERFORMINSEQUENCE";
			}

			params = {
				asPerSequence : asPerSequence
			}

			var postUrl = base_url + "judge/EvaluatorJudgeScore/" + entityId
					+ "/saveAsPerSequence";

			$.post(postUrl, params, function(response) {

				console.log("Score saved successfully");
				//		$('#message').removeAttr('hidden', true);
				//		$('#message').text("Score Saved Successfully");

			}).fail(function() {
				showErrorModal("Could not connect to the server");
			});

		}

		function saveIsPerformed(input) {
			var id = input.getAttribute('id');
			let entityId = input.getAttribute('entityId');
			var isPerformed = null;

			if ($('#' + id).is(":checked")) {
				//performed 
				isPerformed = "PERFORMED";
			} else {
				//Not performed 
				isPerformed = "NOTPERFORMED";
			}

			params = {
				isPerformed : isPerformed
			}

			var postUrl = base_url + "judge/EvaluatorJudgeScore/" + entityId
					+ "/saveIsPerformed";

			$.post(postUrl, params, function(response) {

				console.log("Score saved successfully");
				//		$('#message').removeAttr('hidden', true);
				//		$('#message').text("Score Saved Successfully");

			}).fail(function() {
				showErrorModal("Could not connect to the server");
			});

		}

		function saveScore(input) {
			var id = input.getAttribute('id');
			let entityId = input.getAttribute('entityId');
			let score = $('#' + id).val();

			var postUrl = base_url + "judge/EvaluatorJudgeScore/" + entityId
					+ "/savePenaltyScore";

			params = {
				score : score
			}
			/*	var result = validatePenaltyScore();	
			if (result) {	
				params = {	
					score : score	
				}	
			} else {	
				params = {	
					score : -1	
				}	
			}*/
			$.post(postUrl, params, function(response) {

				console.log("Score saved successfully");
				//	$('#message').removeAttr('hidden', true);
				//	$('#message').text("Score Saved Successfully");

			}).fail(function() {
				showErrorModal("Could not connect to the server");
			});

		}
		function showSaveConfirmModal(link) {

			$("#confirmText").text("Are you sure you want to save it" + "?");
			$("#saveConfirmModal").modal();
		}

		$('#saveYesButton').on('click', function(e) {
			$('#evaluatorScoreForm').submit();
		});

	/*	var regExp = /^(?:[0-9]|[0-9]?\.(?:25|50|75))$/;
		function validatePenaltyScore() {

			var penaltyScoreBox = $('.cls-penaltyscore');
			var penaltyScore = $('.cls-penaltyscore').val();
			if (penaltyScore == "" || penaltyScore == null) {
				return true;
			}

			if (!regExp.exec(penaltyScore)) {
				console.log("invalid" + penaltyScore);
				$('.cls-penaltyscore').css('background', 'red');
				$('.cls-penaltyscore').focus();
				return false;
			} else {
				console.log("valid" + penaltyScore);
				$('.cls-penaltyscore').css('background', 'white');
				return true;
			}

		}

		function validatePenaltyScoreOnSave() {

			var penaltyScoreBox = $('.cls-penaltyscore');
			var penaltyScore = $('.cls-penaltyscore').val();
			if (penaltyScore == "" || penaltyScore == null) {
				return true;
			}

			if (!regExp.exec(penaltyScore)) {
				console.log("invalid" + penaltyScore);
				$('.cls-penaltyscore').css('background', 'red');
				$('.cls-penaltyscore').focus();
				showErrorModal("Enter valid Penalty Score");
				return false;
			} else {
				console.log("valid" + penaltyScore);
				$('.cls-penaltyscore').css('background', 'white');
				return true;
			}

		}*/
	</script>

</body>
</html>