<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head th:replace="fragments/layout :: page_head(${pageTitle}, 'tag')"></head>
<body class="sb-nav-fixed">
	<!-- Header fragment -->
	<div th:replace="fragments/layout :: page_header"></div>

	<div id="layoutSidenav">
		<!-- Sidebar fragment -->
		<div th:replace="fragments/side_pane :: page_sidebar"></div>

		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid">
					<div class="row mt-4 mb-4">
						<div class="col-sm">
							<h3 class="content-title">SITE Settings</h3>
						</div>
						<div class="col-sm-2 text-sm-right align-self-center">
							<a class="btn btn-primary btnActionSmall" th:href="@{/}">Back</a>
						</div>
					</div>


<div th:fragment="content" th:remove="tag">
	<form th:action="@{/admin/manage-settings/save_mail_server}" method="post">
	<div class="form-group row">
		<label class="col-sm-4 col-form-label">SMTP Server Host Name:</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="MAIL_HOST" 
				th:value="${MAIL_HOST}" required  />
		</div>
	</div>	
	
	<div class="form-group row">
		<label class="col-sm-4 col-form-label">Port Number:</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="MAIL_PORT" 
				th:value="${MAIL_PORT}" required  />
		</div>
	</div>
	
	<div class="form-group row">
		<label class="col-sm-4 col-form-label">Username:</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="MAIL_USERNAME" 
				th:value="${MAIL_USERNAME}" required  />
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-4 col-form-label">Password:</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="MAIL_PASSWORD" 
				th:value="${MAIL_PASSWORD}" required  />
		</div>
	</div>
	
	<div class="form-group row">
		<label class="col-sm-4 col-form-label">Server Authentication Required:</label>
		<div class="col-sm-8">
			<select name="SMTP_AUTH" class="form-control">
				<option value="true" th:selected="(${SMTP_AUTH} == 'true')">True</option>
				<option value="false" th:selected="(${SMTP_AUTH} == 'false')">False</option>
			</select>			
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-4 col-form-label">Server Requires Secured Connection (TLS):</label>
		<div class="col-sm-8">
			<select name="SMTP_SECURED" class="form-control">
				<option value="true" th:selected="(${SMTP_SECURED} == 'true')">True</option>
				<option value="false" th:selected="(${SMTP_SECURED} == 'false')">False</option>
			</select>			
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-4 col-form-label">From E-mail Address:</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="MAIL_FROM" 
				th:value="${MAIL_FROM}" required  />
		</div>
	</div>
	
	<div class="form-group row">
		<label class="col-sm-4 col-form-label">Sender Name:</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="MAIL_SENDER_NAME" 
				th:value="${MAIL_SENDER_NAME}" required  />
		</div>
	</div>
								
	<div class="text-center">
		<input type="submit" value="Save" class="btn btn-primary m-3" />
	</div>	
	</form>
</div>

	</div>
				
				
				
				
			</main>
			<!-- Footer fragment -->
			<div th:replace="fragments/layout :: page_footer"></div>
		</div>
	</div>
	

	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
	<script th:src="@{js/scripts.js}"></script>
	<script th:src="@{js/ietp_build.js}"></script>
	<script type="text/javascript">
		var base_url =  "[[@{/}]]";
	</script>

</body>
</html>