<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head th:replace="fragments/layout :: page_head('Verification Failed!!', 'none')"></head>

<body class="sb-nav-fixed">
	<!-- Header fragment -->
<div class="container-fluid">
	<div th:replace="fragments/layout :: page_header"></div>

		<div>&nbsp;</div>
		
                 <div class="text-center">
					<div class="row mt-4 mb-4">
						<div class="col-sm">
							<h2 class="content-title">User Account Verification</h2>
							<h4>Your Account has been already verified, or the verification code is invalid</h4>
									
						</div>
						
				     </div>

	             </div>
					
		<div>&nbsp;</div>
			
			<!-- Footer fragment -->
			<div th:replace="fragments/layout :: page_footer"></div>
		
</div>
	

	
</body>
</html>